.footer
	position: relative
	&::after
		position: absolute
		content: ''
		bottom: -80px
		right: 0
		z-index: -1
		width: 1800px
		height: 500px
		background-image: url('../images/dist/tire4.png')
		background-size: cover
		background-repeat: no-repeat
		background-position: bottom
	&__info
		flex-basis: 30%
		margin-right: 100px
		padding-bottom: 26px
	&__svg
		margin-bottom: 10px

	&__list
		display: flex
	&__item
		font-size: 13px
	&__item:not(:last-child)
		margin-right: 88px
	&__descr
		font-size: 16px
		color: $textcolor
		margin-bottom: 36px
	&__item-inside:not(:last-child)
		margin-bottom: 14px
	&__link-icon:not(:last-child)
		margin-right: 14px
