$mainfont: montserrat, sans-serif
$descrfont: impact, sans-serif
$bodycolor: #0f0f0f
$descrcolor: #C2C2C2
$textcolor: #fff
$mainsize: 16px

@mixin font($fname, $fstyle, $fweight, $furl)
	@font-face
		font-family: $fname
		font-style: $fstyle
		font-weight: $fweight
		src: url($furl) format('woff2')

@include font('montserrat', normal, 400, '../fonts/Montserrat-Regular.woff2')
@include font('montserrat', normal, 600, '../fonts/Montserrat-SemiBold.woff2')
@include font('impact', normal, 400, '../fonts/impact.woff2')
